[2018-02-07 09:49] xmhubj opened #1 "How to include harapi.js into an external web page?"
I saw the **How To Use** guidance which says need to include `harapi.js` in to the web page, but how can I include this javascript into an external website, like https://www.google.com.

Can `harapi.js` be added into the `content_scripts` of manifest.json?

[code]

[2018-02-07 09:52] xmhubj commented on #1
I was trying to run the harpai function in the firefox console, and then ran
[code]
did not see the har log in the console output.

[2018-02-08 13:06] janodvarko commented on #1
The `harapi.js` file is now injected into every page automatically.

@xmhubj Can you please try this branch and let me know if it works for you?
https://github.com/devtools-html/har-export-trigger/tree/harapi

Also, note that the Network panel needs to be selected at least once to make the HAR API work.
This limitation will be fixed soon in:
https://bugzilla.mozilla.org/show_bug.cgi?id=1436665

Ho

[2018-02-09 08:57] xmhubj commented on #1
OK, I'll test it later today.

[2018-02-09 12:04] xmhubj commented on #1
Tried with the branch, seems still not working. My Firefox version as:

[code]

The steps what I tried:

1. Enable add-on debugging and load add-on from file.
2. Open a new tab and `shift+F5` to launch devtools.
3. Switch to `network` tab in devtools panel.
4. Navigate to https://www.google.com, I can see network traffics in network tab.
5. Switch to `console` tab, and run `HAR.triggerExport().the

[2018-02-09 12:10] xmhubj commented on #1
Noticed that Firefox 60+ should be used to run the add-on, but I didn't find the Firefox 60 available from http://ftp.mozilla.org/pub/firefox/releases/

[2018-02-09 19:19] soulgalore commented on #1
@xmhubj you need to run Nightly to get 60.

[2018-02-12 07:24] janodvarko commented on #1
@xmhubj Does it work for you with Fx60?
Honza

[2018-02-19 04:39] JonathanRRogers opened #2 "The README gives no clue about how to install this extension"
There is a page on addons.mozilla.org called "HAR Export Trigger": https://addons.mozilla.org/en-US/firefox/addon/har-export-trigger/ However, that is the old version which doesn't work on Firefox Quantum. How does one install this new version on Firefox 60?

[2018-02-21 09:07] soulgalore commented on #2
@JonathanRRogers you can try it out by using [web-ext](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Getting_started_with_web-ext) and then you can configure which FF version you want to use.

[2018-02-21 09:22] JonathanRRogers commented on #2
I'm sure it's obvious to those familiar with Firefox extension development, but there's a first time for everyone. I eventually figured out how to build the extension after much Googling and trial and error. How about adding the link to the README and strict_min_version to the manifest and save the next person several hours of frustration?

[2018-02-21 09:40] janodvarko commented on #2
Good point, readme file updated.

https://github.com/devtools-html/har-export-trigger/commit/5aa1bde375c467bb8f8591c0d35f317523f5c1a5

Let me know if it's ok now or if you think that more information should be added.

Thanks for the report!

Honza

[2018-02-21 09:40] #2 closed, assigned to janodvarko

[2018-02-21 09:43] janodvarko commented on #1
Note that Fx60 is currently available as Firefox Nightly
https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly

Fx60 goes beta 3/12, see release schedule:
https://wiki.mozilla.org/RapidRelease/Calendar

@xmhubj: should I close this bug or wait?

Honza

[2018-02-21 10:40] soulgalore opened #3 "Any way to speed up the collection of the HAR"
Hi @janodvarko
first of all, thanks for implementing the trigger, it will be great when we can start using it!

I tried it out (the harapi branch), it works fine for me (I use web-ext to run), but it seems like it takes quite long time to collect the HAR, I wonder if there could be something going on that is wrong.

1. I spin up latest Nightly with the harapi branch and web-ext (`web-ext run --fir

[2018-02-21 13:42] soulgalore opened #4 "Option to disable including content in the HAR?"
Hi,
one good feature in the future would be to disable getting the content inside of the HAR. Right now it includes everything in the content fields (that's great for debugging) but if it is possible to disable that from a config that would be great (it will make the HAR files so much smaller).
Best
Peter

[2018-02-21 13:53] janodvarko commented on #3
Yes, this is known issue and on my TODO list (it's slow because of unnecessary timeouts)

It's reported here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1434855

Honza

[2018-02-25 21:03] waifwaif opened #6 "could you provide a screenshot of what it is supposed to look like?"
![ff](https://user-images.githubusercontent.com/36819736/36646440-6bd48e38-1a45-11e8-8be6-f5af08d6f358.png)

i'm not used to using firefox and i can't seem to get this to load, thank you

[2018-02-26 06:49] xmhubj commented on #1
@janodvarko I was on vacation(Chinese Spring Festival), will try it today. Sorry for delayed response.

[2018-02-26 08:37] xmhubj commented on #1
Tried with `Mozilla Firefox 60.0a1` nightly build on Linux x86-64, now I can get the log object right after promise returned. Thanks. We can close this one.

[2018-02-26 08:38] #1 closed, assigned to janodvarko

[2018-02-26 12:33] janodvarko commented on #1
Thanks for the update!
Honza

[2018-02-26 13:11] asaverim8 opened #7 "startDateTime is a NULL object"
Hey all,
Have you noticed that the startDateTime is a null object? (thus failing validation when .har file loaded).

![trigger_startdatetime](https://user-images.githubusercontent.com/36849361/36672144-85f13a6e-1afe-11e8-8835-5ac214183d15.png)

Anything i'm missing?

When desactivating har_validation:
![harviewer](https://user-images.githubusercontent.com/36849361/36672223-d08a67bc-1afe-11e8-9187-

[2018-02-26 13:29] janodvarko commented on #7
Can you please file a bug here:
https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox&component=Developer%20Tools%3A%20Netmonitor

I'll fix that.
Thanks,
Honza

[2018-02-26 16:48] xmhubj commented on #7
I think this one it's related to browser chrome, on Firefox the `startedDateTime` is an ISO 8601 string, looks good.

![har_entry_starteddatetime](https://user-images.githubusercontent.com/15373664/36682798-0091d244-1b57-11e8-90f0-e8c3f101d4b6.jpg)

I once hit similar issue on Chrome last year, on Chrome `startedDateTime` returned by `chrome.devtools.network.getHAR` is a Date object, rather than a

[2018-02-26 17:00] xmhubj commented on #6
Not quite understand what kinds of screenshot you are looking for, when you enter `about:addons` in the navigation bar, you should be able see a page like this:

![addons_page](https://user-images.githubusercontent.com/15373664/36683769-69358046-1b59-11e8-8f24-8576b6b9fc93.jpg)

or if `about:debugging#addons` entered, you should see a page like this:

![debugging_page](https://user-images.githubus

[2018-02-26 17:51] waifwaif commented on #6
sorry I mean in devtools

[2018-02-26 18:02] asaverim8 commented on #7
+agreee for Firefox, everything seems fine

But for Chrome the startedDateTime is an object. Tested on chrome 62 / 63 / 64

![fert](https://user-images.githubusercontent.com/36849361/36686679-7cfb0056-1b27-11e8-8435-8a6e00fd8adf.png)

You made a toString() to the har message in devtools.js?

[2018-02-26 19:08] xmhubj commented on #7
It was just a workaround, I had to iterate all the entries and pages in the har log, and use `toISOString` to convert startedDateTime to string one by one, a little bit ugly. Chrome should fix this issue, just like what Firefox does.

[2018-02-26 19:14] xmhubj commented on #6
please take a look at issue 7, or issue 1, there are a few screenshots in the issues.

[2018-02-26 22:11] #6 closed, assigned to nobody

[2018-02-27 09:36] janodvarko commented on #7
Thanks for the info!

Since this is Chrome bug (perhaps fixed) not related to Firefox and HARExportTrigger - I am closing this issue report.

Honza

[2018-02-27 09:36] #7 closed, assigned to janodvarko

[2018-02-27 12:08] janodvarko commented on #4
Yes, agree. The problem is that `chrome.devtools.network.getHAR()` method (as designed by [chrome](https://developer.chrome.com/extensions/devtools_network#method-getHAR) does always return the response body. There is no option to exclude it (and e.g. improve performance).

So, this extension can make sure that the response body is *not* in the result log (if some flag says so) by doing something

[2018-02-27 13:29] soulgalore opened #8 "Get the HAR without enabling the network tab"
Hi @janodvarko
what's your feeling about bug [1436665](https://bugzilla.mozilla.org/show_bug.cgi?id=1436665) (that's the one that would enable getting the HAR without enabling the network tab right)?

From the outside, it looks like a lot of work, so I'm wondering if it's possible to say in which version of Firefox you think that would land (without promising anything)?

Or is there a way through

[2018-02-27 14:02] janodvarko commented on #8
I am shooting for Firefox 61

You can try:
1) Run Firefox with `-devtools` option on the command line to make sure that the DevTools toolbox is opened automatically
2) Set the following preference: `devtools.toolbox.selectedTool` to "netmonitor" to make sure the Net panel is selected automatically

Honza

[2018-02-27 14:13] soulgalore commented on #8
Ok, cool thanks!

[2018-02-27 14:21] soulgalore commented on #8
Yes I can confirm that -`devtools`  and `devtools.toolbox.selectedTool` works. I also changed the size with `devtools.toolbox.footer.height`. I'll try this out see if it works until 61 (or when it's fixed).

Thanks again

[2018-02-27 14:27] #8 closed, assigned to nobody

[2018-02-27 21:44] soulgalore opened #11 "entry.time is null"
Hi @janodvarko
I guess this is an upstream issue: the entry.time field in the HAR is always null (but entry.timings is populated):

[code]

Best
Peter

[2018-02-28 07:42] soulgalore commented on #3
Ok. This is a real killer for us. We run Firefox together with WebPageReplay to measure the front end performance and today we lack the HAR file. We do it for a couple of URLs with different RTT, and then  graph it here: https://grafana.wikimedia.org/dashboard/db/webpagereplay

The problem is that we do 11 runs per URL, so right now when it takes aprox 60s to get one HAR, it will add 11 minutes ex

[2018-02-28 07:46] janodvarko commented on #3
It's on top of my TODO list.
Honza

[2018-02-28 07:53] janodvarko commented on #11
I created Bugzilla report for this:
https://bugzilla.mozilla.org/show_bug.cgi?id=1441761

Honza

[2018-03-09 16:49] janodvarko commented on #11
Fixed in Firefox 60
Honza

[2018-03-09 16:49] #11 closed, assigned to janodvarko

[2018-04-25 05:08] farooqrahman opened #12 "Licensing"
Hi,

Many thanks for providing this awesome plugin, I have verified this plugin and it is meeting our expectations. We want to use this plugin in our production, can you please let us know how to get the license to use this plugin? When can we expect the official release of this plugin?

Thanks.

[2018-04-25 14:36] janodvarko commented on #12
I added a license file (MPL2)
https://github.com/devtools-html/har-export-trigger/commit/e38b505ec1a2915bc2edfceb4a9315a55e3e3d75

I am waiting for 61 to go to beta/feedback and then I'll upload the extension on AMO.
(should happen in couple of weeks)

Honza

[2018-04-25 14:36] #12 closed, assigned to janodvarko

[2018-04-27 06:39] soulgalore opened #13 "Use the exporter without devtools open?"
Hi Jan,
if I use latest nightly, should the exporter work without opening devtools (I cannot get it to work) or do the plugin need any changes or is it anything else that needs to land before it to work in Firefox?

Best
Peter

[2018-05-03 06:54] farooqrahman opened #14 "In new har "log":{} object is missing."
Hi,

When I generate the har using this new plugin the  "log": {} object is missing. Whereas in the old har-export-trigger plugin the har objects are captured under "log":{} object. As per the [har spec](http://www.softwareishard.com/blog/har-12-spec/) mentioned here there is "log":{} object, which is a root of all har objects.

Is there any change in the har spec after this new plugin?

Thanks,
F

[2018-05-03 09:44] leadwire-apm opened #15 "Inject harapi.js in page (without browser add-on and without enabling network tab)"
Hi,

I'm using a Java API to inject custom javascript in web pages  (in order to collect navigation timing information). The javascript plugin sends back this data to my server.

Can I use the har-export-trigger this way ?

Regard,
Wassim

[2018-05-03 10:30] janodvarko commented on #15
Yes, HARExportTrigger exposes HAR API into the page content and you can consume it by your script.
Honza

[2018-05-03 12:33] leadwire-apm commented on #15
Ok for consuming data, but how the HTTP tracking backend gets initialized ?

[2018-05-03 12:39] janodvarko commented on #15
DevTools Toolbox needs to be opened.
Honza

[2018-05-11 07:23] xmhubj commented on #8
@soulgalore I still cannot get HAR by Selenium...even with argument `-devtools` and preference `devtools.toolbox.selectedTool`.   HAR export trigger addon is set(installed) via Firefox profile, also `-devtools` and `devtools.toolbox.selectedTool` added at that time... How you make this work?

Update:  All I have to reopen the devtools panel with network tab selected and reload the web page, then I

[2018-05-11 10:09] soulgalore commented on #8
Hi @xmhubj you can checkout our implantation:
https://github.com/sitespeedio/browsertime/tree/master/lib/firefox/webdriver

Best
Peter

[2018-05-14 04:57] xmhubj commented on #8
@soulgalore Perter, thanks for sharing your implementation with me.  I have read your code, the difference I can tell is that you're using JavaScript bindings, while I'm using Java bindings.

[code]

I tried to debug the harexporttrigger addon and set a breakpoint in `har-export-trigger/src/background.js`. It looks like `devtools.js` did not connect to the background script,  this results in the v

[2018-05-14 07:13] soulgalore commented on #8
Hi @xmhubj I'm using latest beta 61, but it has worked since 60 and works in latest 60 stable for me too.

When you run your test, can you see that devtools is opened?

Best
Peter

[2018-05-15 01:44] xmhubj commented on #8
@soulgalore yes, I was able to see devtools was opened and network tab was selected.  I tested it without `driver.quit()`, therefore I can play with the Firefox instance launched by webdriver.  I hunted it down, and found the devtools.js did not setup a connection with background.js for some reason.

[2018-05-15 02:29] xmhubj commented on #8
It's working now after I switched my Firefox version to 61 desktop version. Thanks, Peter!

[2018-05-15 04:12] xmhubj commented on #8
Tried with Firefox 60.0esr, unfortunately, not working.... :-(.

My Firefox version:
[code]
- Network tab selected via selenium webdriver(geckodriver):

![network_tab_selected](https://user-images.githubusercontent.com/15373664/40037278-1e1cde4c-583f-11e8-9950-b381047240f8.jpg)

- No HAR log can be retrieved

![no_harlog_returned](https://user-images.githubusercontent.com/15373664/40037318-58f7ce1

[2018-05-16 07:22] farooqrahman commented on #12
Hi

Can you please upload the extension on AMO. I searched in the AMO but I could not find it.

Thanks,
Farooq.

[2018-05-16 15:30] janodvarko commented on #12
Done

You should be able to download it from here:
https://addons.mozilla.org/en-US/firefox/addon/har-export-trigger/

Honza

[2018-05-17 04:15] xmhubj commented on #8
I can manually reproduce this issue with Firefox 60.0esr:
1. Launch a firefox, the default `about:blank` is opened.
2. `shift+F5` to open devtools panel, and select `network` tab.
3. Open another browser tab and navigate to `Add-ons Manager`(`about:addons`), and install HARExportTrigger.
4. Back to the 1st tab, open a web page, say https://www.google.com
5. Select `console` tab to retrieve the HAR

[2018-05-17 04:15] xmhubj commented on #8
@janodvarko ^^^

[2018-05-17 06:08] janodvarko commented on #8
@xmhubj if you reopen DevTools toolbox (in between steps 3-4 or 4-5) does it help?

[2018-05-17 06:34] janodvarko commented on #8
The reason why I am asking is that this obviously feels like WebExtension API issue that should be reported in bugzilla under "WebExtensions: DeveloperTools' component.

[2018-05-17 07:13] xmhubj commented on #13
see here
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Extending_the_developer_tools

HAR Export trigger addon has a devtools page, which is loaded when the browser devtools are opened. Looks like it requires devtools open to load the page.

[2018-05-17 07:16] xmhubj commented on #8
@jandovarko I did that couple days ago, it was working if installing add-on before opening devtools. Let me try again to give a firm answer.

[2018-05-17 07:17] soulgalore commented on #13
@xmhubj see https://github.com/devtools-html/har-export-trigger/issues/8#issuecomment-368887624

[2018-05-17 07:26] janodvarko commented on #13
@soulgalore Yes, @xmhubj is right. The Devtools Toolbox must be opened. But, the Network panel doesn't have to be explicitly selected (this support is implemented in Firefox 61).

In fact, it's better if the Network panel is *not* selected, so its UI doesn't have to be updated during the page load (perf improvement).

Honza

[2018-05-17 07:26] #13 closed, assigned to nobody

[2018-05-17 07:28] xmhubj commented on #8
@janodvarko Here is the result of reopen DevTools toolbox between steps 3-4 or 4-5:
The HAR log can be retrieved with **empty entries and pages**, see the screenshot below:

![reopen_devtools](https://user-images.githubusercontent.com/15373664/40162501-c3949574-59e6-11e8-8b13-87a7c9e85e1f.jpg)

I can firm that devtools.html and devtools.js in HAR Export trigger are loaded this time.

[2018-05-17 07:31] xmhubj commented on #8
After reopening the devtools toolbox, what I have to do is **re-selecting network tab and refreshing the page** to load the web page, then I can get the network entry and page info, see the following screenshot:

![reselect_networktab](https://user-images.githubusercontent.com/15373664/40162722-62b3cc7e-59e7-11e8-833e-a1caa0394c8a.jpg)

[2018-05-17 07:32] janodvarko commented on #8
If you also register `onRequestFinished` listener (can be just an empty function), does that help?
Honza

[2018-05-17 07:35] soulgalore commented on #13
Ah cool thanks for the clarification!

[2018-05-17 07:43] xmhubj commented on #8
When and where should I register `onRequestFinished` listener?

[2018-05-17 07:43] soulgalore commented on #13
Actually I tried now with FF 61 beta5 and if I skip setting `profile.setPreference('devtools.toolbox.selectedTool', 'netmonitor');` it doesn't work (at least for me).

Also do you know @janodvarko if there's a way to disable the popup that happens when you open devtools?
<img width="514" alt="screen shot 2018-05-17 at 09 39 26" src="https://user-images.githubusercontent.com/540757/40163286-b38b92c

[2018-05-17 08:06] janodvarko commented on #8
Register it within your page as follows:

[code]

Before page load begins...

Honza

[2018-05-17 08:21] xmhubj commented on #8
I think HAR object is not available before page load begins. Looks like I have to change src/content.js or lib/harapi.js, add above line into it, right?

PS: will try this later.

[2018-05-17 08:30] janodvarko commented on #13
There are two related prefs:

`devtools.devedition.promo.shown` and `devtools.devedition.promo.enabled`

https://searchfox.org/mozilla-central/rev/d4b9e50875ad7e5d20f2fee6a53418315f6dfcc0/devtools/client/preferences/devtools-client.js#5-14

It should be enough to set `devtools.devedition.promo.enabled` to `false`

This sounds like similar issue to the one we are solving in: https://github.com/devt

[2018-05-17 08:40] soulgalore commented on #13
Ah cool, np, I will try it today/tomorrow when I find the tlme! Thanks again for all the help!

[2018-05-17 09:02] janodvarko commented on #8
@xmhubj please see also this comment:
https://github.com/devtools-html/har-export-trigger/issues/13#issuecomment-389787795

Honza

[2018-05-17 10:59] soulgalore commented on #4
I don't maybe it doesn't matter if the API always includes? I manually wash it now depending on flags, and I think it's overkill then to include it the trigger?

[2018-05-17 11:09] soulgalore commented on #8
I think I do not fully understand the flow and how it will work? As @xmhubj pointed out addRequestListener needs to happen in the plugin right when it is injected in the page but you will still miss the document request or because without the netmonitor open no request will be collected until getHar/addRequestListener?

1. You start the browser
2. You tell the browser to navigate to a URL
3. The p

[2018-05-18 04:53] xmhubj commented on #8
I think we need to register the listener when `devtools.html\devtools.js` is loaded by toolbox.

In source file `devtools.js`, added a line to call onAddRequestListener() to register request listener.

[code]

Right after `devtools.js` setup a connection to `background.js`,  this can solve @soulgalore issue.  @janodvarko Do you think this is the right way to go?

My issue in [comment 13](https://g

[2018-05-21 05:38] farooqrahman commented on #13
I tried testing the har-exporter without explicitly selecting the network panel but I have opened the devtools toolbox. For the first page, I got empty entries in the HAR and for the later pages, it works fine. (entries object populated with values)

When I explicitly selected the network panel then for the first page I got entries object populated with values.

It seems that there is some problem

[2018-05-22 07:34] janodvarko commented on #3
The following bug has been fixed in Firefox 60, so I am closing this issue.
https://bugzilla.mozilla.org/show_bug.cgi?id=1434855

Honza

[2018-05-22 07:34] #3 closed, assigned to janodvarko

[2018-05-22 12:00] soulgalore commented on #8
Yep you are right @xmhubj the request listener needs to be triggered when the extension init. Is that something that's ok for you @janodvarko ? Or is it a way to read configuration so it can be optional?

[2018-05-22 12:46] janodvarko opened #16 "Register onRequestFinished listener by default"
This is a follow-up for issue #8
https://github.com/devtools-html/har-export-trigger/issues/8#issuecomment-390094126

Request-finished listener should be registered by default when the extension is initialized - i.e. when the Toolbox is opened (in devtools.js module)

Devtools back-end is instructed to collect all HTTP data if a listener is registered in advance, and so the first document request

[2018-05-22 12:51] janodvarko commented on #8
This looks good to me. It means that HTTP data will *always* be collected if the extension is installed, but that's what (most of?) the users that install it want anyway.  Another advantage of doing this by default is that there is no additional configuration step and it will work out of the box.  So, let's wait and see if there is a problem and there are actually some users who want to opt out.
I

[2018-05-22 13:00] janodvarko commented on #16
@xmhubj @soulgalore can you please do quick review of the commit and give me green light for new release and upload on AMO? (the next version will be 0.6.1)

Thanks,
Honza

[2018-05-22 13:11] janodvarko commented on #8
@rpl is there a known bug in WebExtensions architecture in 60 (fixed in 61) that would cause that HARExportTrigger (DevTools extensions, using devtools.html scope) isn't loaded if devtools toolbox is opened before installing the add-on?

You can also see https://github.com/devtools-html/har-export-trigger/issues/8#issuecomment-389739307

Honza

[2018-05-22 13:20] soulgalore commented on #16
@janodvarko yep I tried it myself an hour ago and it works fine, the commit looks ok! Thanks!

[2018-05-22 13:53] rpl commented on #8
Yes, it is [Bug 1378107 - WebExtensions devtools pages are not executed on existing (opened) developer toolboxes](https://bugzilla.mozilla.org/show_bug.cgi?id=1378107) which is an unfortunate side-effect of matching the Chrome behavior (which doesn't run the devtools page from a newly installed addon on any developer toolboxes that were already open) in the initial version of the WebExtensions dev

[2018-05-22 13:57] #16 closed, assigned to janodvarko

[2018-05-22 14:02] janodvarko commented on #16
HARExportTrigger 0.6.1 is uploaded on AMO (it should be available soon).
Honza

[2018-05-22 14:03] janodvarko commented on #15
@leadwire-apm I am closing this report, but feel free to reopen or file new one if you experience any trouble!

Thanks,
Honza

[2018-05-22 14:03] #15 closed, assigned to janodvarko

[2018-05-23 05:48] soulgalore commented on #16
Hey @janodvarko I pushed it to our test server yesterday. A couple of things:
* ~~We [got a user](https://github.com/sitespeedio/browsertime/issues/601) that used FF 60 and it stopped to work. Even though the aim for the plugin 61 one right, but the old version actually worked in 60 (but maybe works better in 61)~~. That was wrong, it worked in 60 since we used to use our own hack for the plugin.

[2018-05-23 06:05] soulgalore opened #17 "Running 0.6.1 without netmonitor misses content size for some responses"
Hi @janodvarko
with the latest version 0.6.1 it works without choosing to enable the netmonitor tab. By works I mean you get the HAR. But it seems like the HAR misses content size for some responses. Here's one example:
https://gist.github.com/soulgalore/19f68eeee12f20fce45d1ba1995ff8a7

`log.entries[0].response.content.size`

If I enable the netmonitor tab, I cannot reproduce it. I tried a couple

[2018-05-23 09:38] janodvarko commented on #13
@farooqrahman this should be fixed in the latest version  (0.6.1) on AMO.
(since issue #16 is fixed)

Honza

[2018-05-24 08:14] janodvarko commented on #13
Btw. the promo popup window displayed when the Toolbox is opened for the first time should be removed in Firefox 62

See also:
https://bugzilla.mozilla.org/show_bug.cgi?id=1463924

Honza

[2018-05-28 05:00] xmhubj commented on #8
@janodvarko @rpl Thank you both! Now I'm clear.

[2018-06-13 00:04] motin commented on #13
Is this still valid if we run privileged code using https://wiki.mozilla.org/WebExtensions/Experiments?

[2018-06-18 07:39] shigatsuverame opened #18 "triggerExport is not defined (firefox 61)"
I keep encountering this triggerExport is not defined error when i'm trying to execute my automation using selenium in getting the HAR files. Does anyone here have worked with HAR + Selenium using Firefox 61?

Here's my setup
Selenium 2.53.0
Geckodriver v1.19.1
Firefox 61.0b13

Here's my file.py
def create_har_file(self, log_path=getcwd()):
        script = '''
                function createHAR()

[2018-06-19 08:36] shigatsuverame opened #19 "unable to automatically saves HAR to local dir"
Hi @soulgalore,
@janodvarko

Can you help me out on this? Using this script,
var options = {
  token: "test",
  fileName: "my test har file %Y, %H:%M:%S"  // Name of the file
};

HAR.triggerExport(options).then(result => {
  // The local file is available now, result.data is null since options.getData wasn't set.
});

which was working way back on firefox 45,and now it's no longer working for me u

[2018-06-20 10:04] janodvarko commented on #13
Just for the record. I had a meeting with @motin in SF last week and the goal here is to build an extension that is able to:

* create its own debugger client object
* connect to Firefox backend
* initialize NetMonitorAPI object
* Load page & record HTTP activity
* Export HAR

Some code notes:

[code]

@motin it would be great if you linked your results here in this thread, so others can benefit f

[2018-07-07 00:30] gmichels opened #21 "Retrieving HAR object/string in Selenium"
Hello

Sorry if this is the wrong place to ask for this, however I can't find a way to return the HAR string back into Selenium. I can dump it into the console per the instructions, however no matter what I try, I can't get it back via webdriver.

I found https://github.com/firebug/har-export-trigger/issues/9 which seems to be what I need, but I can't make it to work.

Any clues?

Thank you

[2018-07-09 17:49] soulgalore commented on #21
Hi @gmichels
[this](https://github.com/sitespeedio/browsertime/blob/master/lib/firefox/webdriver/firefoxDelegate.js#L38-L56) is what it looks like when we get the HAR from the new export trigger in Browsertime. You need to execute async JavaScript through Selenium and then take care of the result when it's finished. Does that example help?

Best
Peter

[2018-07-10 00:52] gmichels commented on #21
Hi @soulgalore, thanks a lot for the pointer, it worked perfectly per the solution you provided. Appreciate the speedy response.

[2018-07-10 00:52] #21 closed, assigned to nobody

[2018-07-12 17:49] gmichels opened #22 "Empty pages list on returned HAR"
Hey

I am having an intermittent issue when generating the HAR with the extension using Chrome (67), there are times the **pages** list is empty:

![image](https://user-images.githubusercontent.com/7144329/42650333-236360f6-85da-11e8-94f0-b1ee889077b2.png)

Problem is I am unable to reliably reproduce the issue, there are times I get the **pages** list as expected, so I was wondering if there was

[2018-07-13 08:02] xmhubj commented on #18
From the way in your code, looks like you are still using the old `HARExportTirgger` addon, which no longer work on FF 57 or later.

You have to use the new addon based on web-extension specification in this repository. Also please read the usage in the readme file.

[2018-07-25 14:57] gmichels commented on #22
I was able to replicate the issue without the extension installed and using DevTools "Save as HAR with content", so this looks like a bug in either Chrome or DevTools.

Unfortunately, I am unable to come up with a repro code to file a bug with Chrome, however I ended up using a mitigation by having Chrome load a dummy page at initialization. This seems to greatly reduce the number of times this pr

[2018-07-25 14:57] #22 closed, assigned to nobody

[2018-07-29 07:31] motin commented on #13
@janodvarko I had a stab at this today and seemingly got many things running:
 * Create debugger client object
 * Connect to Firefox backend (kind of, see below)
 * Initialize NetMonitorAPI object
 * Export HAR (kind of, see below)

Code here: https://github.com/mozilla/OpenWPM-WebExtension-Experiment/pull/4

These major issues are still unresolved:
* Connect to Firefox backend - I can't pick out

[2018-07-30 21:41] ochameau commented on #13
I think I'm lost at WebExtension layer.
It is not clear from where `enableNetworkMonitorForTab` is called and what is the `tabId` argument being passed to it? There must be a way in WebExtension to pass a Tab object of WebExtension and from it, retrieve the real Firefox tab, that we use in DevTools.

@rpl Do you know if that's possible to implement a WebExtension experiment with an API accepting a

[2018-07-31 02:47] AbbadV opened #23 "WebDriver Promise not Resolving"
We have the most recent Firefox, most recent geckodriver, most recent har-export-trigger extension and are having trouble getting the Har File for a given webpage. Below is a script we wrote do to the task.

`profile = webdriver.FirefoxProfile('path to our default firefox profile')
driver = webdriver.Firefox(profile,executable_path="path to gecko driver")
driver.execute_script("HAR.triggerExport()

[2018-07-31 09:21] motin commented on #13
Thanks @ochameau, with that class hint as guidance, I found a way to map WebExtension tabId -> the debugger's version of the tab object by querying tabManager directly, followed by querying the debugger server based on the nativeTab object: https://github.com/mozilla/OpenWPM-WebExtension-Experiment/pull/4/commits/0fb646f3e94d3a4a0a18f429a97f3fe65d65079d

The major unresolved issue now is that the

[2018-07-31 10:46] rpl commented on #13
I didn't had the time to look into the experiment implementation yet, but from inside an API implementation you can retrieve the native tab (that is a `<xul:tab>` on Firefox Desktop) from a WebExtension `tabId` using the `tabTracker` utility (and an instance of it is already available in the global where the API module runs, and so it can be used without importing anything explicitly):

[code]
([t

[2018-07-31 11:45] motin commented on #13
Thanks @rpl, the tab issue has been resolved for now. Your comment allowed the code to be [cleaned up a bit](https://github.com/mozilla/OpenWPM-WebExtension-Experiment/pull/4/commits/798f1c3fb5c1e77f2c34d8ae31d109e3a58d6604) (except for the tabTracker part, since tabTracker is not defined globally, nor available as extension.tabTracker - so I am [sticking to extension.tabManager](https://github.co

[2018-07-31 12:44] ochameau commented on #13
May be Honza will have some idea as he wrote the HAR code, but he is on PTO. He will be back next week.

Yes, no need to build Firefox. You can debug all DevTools codebase from nightly. All the Frontend codebase should be debuggable from the Browser toolbox. Note that the actor codebase (code from devtools/server/) doesn't appear in the Browser toolbox, but in the Browser content toolbox. This may

[2018-07-31 13:08] motin commented on #13
@ochameau Indeed, debugging via the Browser Toolbox works great :)
Found a likely culprit: It seems like all listeners are indeed setup for a brief time after a new tab is created, but the target is being destroyed and all listeners subsequently unregistered following onTabDetached in https://searchfox.org/mozilla-central/source/devtools/client/framework/target.js#533, which fires just before navi

[2018-07-31 14:42] rpl commented on #13
Using extension.tabManager is also absolutely fine, and internally it still uses [tabTracker.getTab](https://searchfox.org/mozilla-central/rev/033d45ca70ff32acf04286244644d19308c359d5/browser/components/extensions/parent/ext-browser.js#1018-1025).

But instead of using `tabManager.query` to retrieve all the tabs and then filter the one that you are interested in (like in the code you linked in you

[2018-07-31 15:39] motin commented on #13
@rpl, thanks, that again lead to [cleaner code](https://github.com/mozilla/OpenWPM-WebExtension-Experiment/pull/4/commits/291315049b5e6e13f211187125dd82c49a8d97f9). Any idea of how to actually achieve complete and persistent network monitoring for the tabs?

[2018-08-10 05:30] farooqrahman opened #24 "'ReferenceError: HAR is not defined' in new webextension based plugin."
Hi @janodvarko,

We successfully launched our product using har-export-triggerExport-0.6.1 and it's been used by our customers. All credit goes to you for providing this super cool new plugin which uses new WebExtension.
But one of our customer's face this issue 'ReferenceError: HAR is not defined'.
The environment in which this error reported is
Firefox version: 61.0
har_export_trigger version: 0

[2018-08-13 15:53] leipreachan commented on #24
@farooqrahman you might want to add these preferences to your session initalize flow:
[code]

[2018-08-14 17:08] xmhubj commented on #24
You may need retry mechanism on your code side to work around this...at this moment. If the HAR API is not defined, wait for couple of seconds, then try it again.

Another possible way could be adding `waitForPageLoad` command after each `click` command on a button, then dump HAR after `waitForPageLoad` command. This can make sure HAR API can be injected before you are trying to call it

I guess t

[2018-08-17 10:40] farooqrahman commented on #24
@leipreachan I am already using those options when dumping the HAR. Thanks for the suggestions.

@xmhubj yes, you are right somehow we need to wait for the page load to happen so that HAR object can be injected. I found one solution for this which fixes this problem. I check whether HAR object is available or not before dumping the HAR.  Below is the pseudocode
if HAR object available  then
    us

[2018-08-27 06:09] alex4200 opened #25 "How to install the firefox add-on manually, by command line?"
I am performing selenium tests and use a firefox instance that is part of a docker image. Therefore I cannot just 'open firefox' and 'click here' and 'click there'. I require a programatical way to install the extension.

For example, can I just copy files in some directories in the firefox' profile folder or something?

I cannot use the suggested `web-ext` tool, as the firefox instance is started

[2018-09-03 08:19] janodvarko commented on #13
I can reproduce this too.

The DebuggerServer is sending "tabDetached" packet
https://searchfox.org/mozilla-central/rev/721842eed881c7fcdccb9ec0fe79e4e6d4e46604/devtools/server/main.js#1078

This happens since "message-manager-close" event is fired and this event is send since the browser tab is removed in `updateBrowserRemoteness`:
https://searchfox.org/mozilla-central/rev/721842eed881c7fcdccb9ec

[2018-09-03 13:37] motin commented on #13
Including a copy of @rpl's comment from https://github.com/mozilla/OpenWPM-WebExtension-Experiment/pull/4#issuecomment-417690456 here as well, so that all relevant insights are collected in the same thread:

[2018-09-03 14:14] janodvarko commented on #13
Both comments make sense and yes not starting the network listeners seems like a bug.
But I am still puzzled why DebuggerServer is sending the "tabDetached" packet...

Honza

[2018-09-05 11:18] motin commented on #13
Thanks for looking into this further. I took your comments and tried anew without any luck.

EDIT: I found some network monitoring happening at some stage. Updated the answer below to reflect this:

It seems that 1. attaching to the tab objects needs to be done at a deeper level, something like upon any creation of a tab/browser object everywhere, and 2. there is still something missing in terms o

[2018-09-06 04:09] xiaospider opened #26 "Can't installed in Firefox 62.0 by not correctly signed"
Can't installed in  Firefox 62.0 by following exception.

[code]

geckodriver 0.21.0
selenium-server-standalone-3.14.0
Firefox 62.0

[2018-09-25 09:16] renghardt opened #27 "Trigger HAR export from Marionette: "ReferenceError: HAR is not defined""
Hello,

I'm trying to use har-export-trigger using Firefox Marionette, with Firefox 61.0.2 and har-export-trigger-0.6.1. I'm using the Python marionette_client (https://marionette-client.readthedocs.io/en/master/index.html).
When trying to call any function of the HAR API, I get "ReferenceError: HAR is not defined".
Through Selenium/geckodriver, it works.
Calling other Javascripts, e.g., "return w

[2018-09-26 10:49] renghardt commented on #27
Trying to dig into this problem more:
I don't think I'm calling the export too soon, I can do it minutes or hours after page load, the status never changes.
I opened the Browser Toolbox to debug the plugin, but I do not get any output from har-export-trigger there.
However, I noticed that I cannot call HAR.triggerExport() from this Browser Toolbox console either, it says "HAR is not defined". In t

[2018-09-26 11:15] soulgalore commented on #27
@theri just wanted to make sure that the extension is installed when running Marionette (so that you aren't using a new session without any extensions)? Is it possible to check? I use Geckodriver and in latest version (0.22.0) the installation is broken and the way I found out was I couldn't get the HAR object.  Just a long shot :)

[2018-09-26 13:42] renghardt commented on #27
@soulgalore Thanks for taking a guess. But if I can call HAR.triggerExport() just fine from the browser command line (when I press F12) on the very same browser, it should be correctly installed, right? It works this way, it just doesn't work with Marionette.

[2018-09-26 16:14] renghardt commented on #27
I got further debugging this, found out that the following works around the "HAR is not defined" error:
`result = client.execute_script("window.foo = HAR.triggerExport().then( result => { return result;}); ", new_sandbox=False, sandbox=None)`

Now my problem is that "window.foo" is a promise that never resolves, and if I call
`result = client.execute_script("return window.foo ")`, Marionette keeps

[2018-09-27 08:27] renghardt commented on #27
Alright, it seems like my problem resolved itself over night.
I just have to start Firefox with devtools open (-devtools option), and then the following works:

`HARtext = driver.execute_script("window.foo = HAR.triggerExport().then(harLog => { return(harLog); }); return window.foo;", sandbox=None, new_sandbox=False)`

Maybe this points to some issue in the API here, but that's beyond my current s

[2018-09-27 08:27] #27 closed, assigned to nobody

[2018-09-27 09:42] janodvarko commented on #27
Ah, yes, the Developer Toolbox needs to be opened otherwise the Network panel isn't initialized (doesn't exist) and HTTP traffic is not intercepted.

You might see https://github.com/devtools-html/har-export-trigger/issues/13 - thread about how to implement/use HAR export without the Toolbox (wip).

Honza

[2018-10-30 02:09] xiaospider commented on #26
Close as it's invalid, it's a java selenium problem.

[2018-10-30 02:09] #26 closed, assigned to nobody

[2018-10-30 09:31] soulgalore opened #28 "[Feature request] HAR for multiple pages"
Hi @janodvarko
one thing that I miss is to be able to create a HAR over multiple different pages. The use case is that we want to measure multiple pages after each other and they are dependent on each other, so a HAR with all pages would define the full flow. At the moment we can create one HAR for each page, and then merge them together, but it would simplify for us if we could get that automatic

[2018-11-01 22:21] motin commented on #13
Quick update: We went another way, using the instrumentation exposed via the standard web extension API:s instead. This allows access to basic request monitoring and performance metrics, but not any ability to debug / analyze scripts, create memory dumps, performance profiles etc - thus still interested in having remote access to Devtools without having to have Devtools open, but not actively purs

[2018-11-09 20:01] N7Remus opened #29 "If deafault js Map() object is rewriten on a page extension is crashing."
Example : http://www.onedoortrail.hu/
I solved the problem by writing the functions that Map() used as obj.(in harapi.js)
var obj = {
        get: function(id){
            for(var i=0;i<this.store.length;i++){
                if (this.store[i].key==id){
                    return this.store[i].value;
                }
            }
        },
        set: function(id,data){
            this.store

[2018-11-13 21:54] ybahador opened #30 "devtools.netmonitor.har.enableAutoExportToFile Not Working"
Hi,

I'm trying to export HAR files automatically for each page that I visit. I've modified the following options through about:config but Firefox isn't generating any output files.

* devtools.netmonitor.har.enableAutoExportToFile: true
* devtools.netmonitor.har.forceExport: true
* devtools.netmonitor.har.defaultLogDir: /tmp/har/

Having devtools open doesn't help either.
I'm testing this on Fire

[2018-11-24 12:47] soulgalore commented on #30
Hey @ybahador that functionality was only for the old version https://github.com/firebug/har-export-trigger

You need to get the HAR using JavaScript.

Best
Peter

[2018-11-24 12:50] soulgalore commented on #28
Hey again @janodvarko I guess this need changes in the getHAR api right, so it's not likely to happen? Just wanna know what you think, so I know if I should implement this on the outside.

Best
Peter

[2018-11-24 12:52] soulgalore commented on #25
Hi @alex4200 if you use Selenium, it has support for adding e extension. What flavour of Selenium are you using? In NodeJS you do it like this: https://github.com/sitespeedio/browsertime/blob/master/lib/firefox/webdriver/index.js#L58-L61

Best
Peter

[2018-11-24 12:54] soulgalore commented on #19
Hi @shigatsuverame you are using the old plugin. With the new one you need to fetch it with JavaScript and store the file yourself.

Best
Peter

[2018-11-26 15:35] shonasong commented on #30
Hey @soulgalore Could you please give a hint or example for getting the HAR using JS? I have tried to programmatically download the HAR. Are there any other ways to do it?

[2018-11-29 09:04] vasinkd commented on #30
For me works the following code:

[code]

Also don't forget to launch geckodriver with argument --devtools and set option "devtools.toolbox.selectedTool" to "netmonitor" as mentioned [here](https://github.com/devtools-html/har-export-trigger/issues/8#issuecomment-368887624)

[2018-11-29 10:26] vasinkd opened #31 "Empty body"
Steps to reproduce:
1) Install HARExportTrigger add-on for firefox
2) Open devtools network pane
3) Download https://www.google.com/

You will see that the https://www.google.com/ document shows an empty response (but it is obviously not true).

The same thing you will see with geckodriver and selenium: in the generated HAR response for the first request to google.com will only have [{'mimeType':

[2018-11-29 11:00] alex4200 commented on #25
Hi @soulgalore; I am using python-selenium. But at the moment I do not require this feature anymore.

Feel free to close this ticket.I can reopen it if needed...

[2018-11-29 14:24] vasinkd commented on #23
I guess you should launch geckodriver with argument --devtools and set option "devtools.toolbox.selectedTool" to "netmonitor" as mentioned [here](https://github.com/devtools-html/har-export-trigger/issues/8#issuecomment-368887624)

[2018-11-29 14:45] vasinkd commented on #31
This bug can be seen only with the latest version of har-export-trigger. With version 0.6.0. everything works just fine.

[2018-11-30 00:57] shonasong commented on #30
@vasinkd Thank you very much!

[2018-12-04 00:39] xiaospider commented on #13
@motin can you share how you using the instrumentation exposed via the standard web extension API:s instead?

[2018-12-14 19:21] frvwfr2 commented on #30
@vasinkd  I am not following how that code piece does output. Does that just print it to the log?

I am having difficulty with getting the values to write to a file. I have attempted to use the following code

[code]
but the downloaded file only contains the following (11 entries are in the network tab)

[object Object],[object Object],[object Object],[object Object],[object Object],[object Object

[2019-01-04 12:44] vasinkd commented on #30
Sorry for the long reply.
Unfortunately, I can't help you with that since I'm not a JS programmer. These 2 lines of JS code are working pretty good with Python+Selenium.

Also, I should notice that I managed to make it work only with har-export-trigger v. 0.6.0 as it is mentioned here: https://github.com/devtools-html/har-export-trigger/issues/31

[2019-01-25 15:22] askabelin opened #32 "con.content is undefined error"
Hi,
I'm using FF 64.0 + geckodriver 0.23.0.
FF is started with `-devtools` option and `devtools.toolbox.selectedTool` is set to `netmonitor`. Executed JS:
[code]
HAR files seem to be valid. However, I see a lot of "con.content is undefined" errors in geckodriver log:

[code]

Is there an easy way to fix it? Can it affect HAR creation?

[2019-02-15 11:19] tempo810 opened #33 "js is not loaded if the site is unavailable"
I am using the plugin with Selenium and Firefox 65 in python.
The HAR harvest script is working if I am able to get any response from remote http server.
However, if the site is unreachable such as experiencing gateway timeout then HAR.triggerExport() cannot be called.
My goal is to continuous monitoring http accessibility for further analysis, so it's important to export HAR no matter if the site

[2019-03-28 20:06] ghost opened #34 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-05-01 23:45] gaardiolor commented on #31
I also have a similar issue;
`entry['response']['content']['text']` is missing for `Content-Type: application/json;charset=utf-8` . Works in 0.6.0 .

[2019-05-03 13:25] gaardiolor commented on #31
Hmm, it seems to not be bound to a specific Content-Type. I have seen examples of 0.6.1 having `['response']['content']['text']` for `Content-Type: application/json;charset=utf-8`  But definately 0.6.0 is more reliable. For one page with 135 'hits', 0.6.0 has the `['response']['content']['text']` of 134 of those (the one missing being a redirect), 0..6.1 only has the `['response']['content']['text

[2019-07-24 06:14] tkalyani-test opened #36 "support for chrome browser"
Hi
I have a requirement to collect har logs from chrome browser. Can i use this har-export-trigger to capture the same. If yes , please guide the steps on how to capture  logs

[2019-08-07 14:49] sciatro opened #37 "Resulting HAR does not conform to spec"
The HAR returned by v0.6.1 of the plugin on FF v68 does not conform to [v1.2 of the HAR spec](http://www.softwareishard.com/blog/har-12-spec/).

I've noticed two issues that cause the return value of `HAR.triggerExport()` to [fail validation](http://www.softwareishard.com/har/viewer/):

  * As mentioned it #14 it does not have [`log` as the root key](http://www.softwareishard.com/blog/har-12-spec/

[2019-08-16 14:26] NScheeren opened #38 "console.error in FF68"
Hi there,

i use the Version 0.6.1 of the HET-extension with Firefox 68.0.2  and the following Code (with Selenium 3.14.0)

`[create geckoservice]

FirefoxOptions options = new FirefoxOptions();
options.addPreference("devtools.netmonitor.har.enableAutoExportToFile", true);
options.addPreference("devtools.netmonitor.har.defaultLogDir", "C:/");
options.addPreference("devtools.toolbox.selectedTool",

[2019-08-16 16:14] swathikrnt opened #39 "HAR.triggerExport(options).then(result => { }); not creating .har file under profile"
I am using .net(c#) with Selenium for capturing the network log
I have **Firefox Developer Edition** **69**

 FirefoxProfile profile = new FirefoxProfile();
var allProfiles = new FirefoxProfileManager();
profile = allProfiles.GetProfile("Selenium");

string harExport = "C:/Users/testUser/Desktop/harexport/harexporttrigger-0.5.0-beta.10.xpi";
 profile.AddExtension(harExport);

profile.SetPreference

[2019-09-02 02:50] sciatro commented on #38
I'm also seeing lots of console errors in the format ``server1.conn0.netEvent###`` using FFv68 and HET 0.6.

Despite the errors it seems the extensions is working.

[2019-10-22 17:03] happywhitelake opened #40 "Storing HAR triggers `Object.throwDecodedError` for several sites."
Browsertime uses `har-export-trigger` to export HAR. I could export the HAR file when visiting some common sites: `google.com`, `facebook.com`, etc. But, I currently encounter `Object.throwDecodedError` when crawling some specific sites, such as: `http://www.team.aero`, `http://bilimselbilisim.com`, and `http://jmlsg.org.uk`.  Note that all of these sites can be viewed/rendered normally in real Fi

[2019-11-13 15:08] hafsara opened #41 "Error in event handler: TypeError: Cannot read property 'postMessage' of undefined"
Hello,
I have a requirement to collect har logs from chrome browser. So i useed this har-export-trigger to capture HAR trace. But I get this message error :
Error in event handler: TypeError: Cannot read property 'postMessage' of undefined

[2019-11-13 15:57] #41 closed, assigned to nobody

[2019-12-30 19:45] soulgalore opened #42 "Get HAR from Firefox on Android"
Hi @janodvarko since a while ago Firefox can be used through Geckodriver on a Android phone. Installing HAR-export-trigger works fine but getting the HAR doesn't work. I guess the problem is that devtools and that the network tab needs to be open. I wanted to check if something changed the last year in the Firefox, hoping that maybe there could be a fix nowadays to avoid having devtools open?

Bes

[2020-01-02 08:21] janodvarko commented on #42
Hey Peter!
The Network panel doesn't have to be activated, but the DevTools Toolbox still needs to be opened to start up the backend for intercepting HTTP.

Honza

[2020-01-08 11:02] soulgalore commented on #42
Hi Jan, ah ok, I was running 0.6.0 but upgraded to 0.6.1 and I guess then that fixes the problem, let me try.

Thanks!

[2020-01-09 07:05] soulgalore commented on #42
Hi again @janodvarko so I upgraded to 0.6.1 and tested on my phone but didn't get it to work, and I guess it is because there's no devtools toolbox on Android? Do you know if someone tried running it on a phone?

Best
Peter

[2020-01-09 13:38] janodvarko commented on #42
The toolbox is not available on Android (devtools/client is not bundled on those devices), you'd have to use remote debugging to record HAR. But since you mention Geckodriver, I guess the idea is to use this from automation?

[2020-01-10 08:49] soulgalore commented on #42
Yes exactly. Since latest release of Geckodriver it works fine to drive Firefox on your Android phone. We got it up and running now and last piece for me is to get a HAR :) We kind have parts of the information from the geckoProfiler but it would be great if it would work with the plugin.

[2020-03-26 08:32] soulgalore opened #43 "Broken HAR file for https://en.wikipedia.org/wiki/2019–20_coronavirus_pandemic"
Hi,
yesterday I started to test one of our biggest coronavirus pages of Wikipedia (https://en.wikipedia.org/wiki/2019–20_coronavirus_pandemic). We use Firefox 74. If I use 74 and just export the HAR from devtools the HAR looks fine (except that it misses the title):

<img width="538" alt="Screenshot 2020-03-26 at 09 18 12" src="https://user-images.githubusercontent.com/540757/77624861-ca40f200-6f4

[2020-03-26 09:39] janodvarko commented on #43
Thanks for the report Peter!

The missing title should be fixed in this bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1616244

The missing `headerSize` looks indeed like an issue in HAR export trigger, this needs investigation.

Honza

[2020-03-26 18:18] soulgalore commented on #43
Ok! I missed to include the HAR, would that help?

[2020-03-26 18:31] soulgalore commented on #43
Let me look into the missing timings, I can do that tomorrow, I haven't had time yet to go through it.

[2020-04-03 04:06] GayuRenga commented on #36
Have you found any solution for collecting har from chrome ?If yes kindly help me

[2020-04-03 12:10] janodvarko commented on #36
You should be able to use this extension on Chrome too. The way how it should work is exactly the same as in Firefox.

See https://github.com/firefox-devtools/har-export-trigger/blob/master/README.md

Honza

[2020-10-08 15:02] dpburst opened #44 "Can it be used with Selenium 3?"
Hi! I am just wondering whether this addon can be used together with Selenium 3? I just wrote a demo, trying to get HAR with python selenium 3. But it seems that it is not working at all (with no har file generated).
Here is my profile setting. I am testing on MacOS, firefox 78.3.0esr and Selenium 3.141.0.
`	profile.set_preference("extensions.netmonitor.har.enableAutomation", True);
	profile.set_p

[2020-10-09 12:11] janodvarko commented on #44
@dpburst thanks for the report!

I don't have much experience with Selenium, can you provide some instructions to help me to it setup up on my machine and try the addon with it?

Thanks!

[2020-10-09 14:04] dpburst commented on #44
@janodvarko Thank you so much for your reply. Here is my code (but it can not work):

[code]

I find that `profile.add_extension(extension=AR_EXPORTTRIGGER_PATH)` can not addon the extension to firefox.
`browser.install_addon(AR_EXPORTTRIGGER_PATH, temporary=True)` can install the extension, but in both cases I can not get any HAR file saved in `HARDIR`.

My settings are:
python 3.7
selenium 3.141

[2020-10-20 09:25] janodvarko commented on #44
I installed Selenium via `npm install selenium-webdriver` and tested HAR Trigger using the attached example test. It works for me (I can see HAR logs/files in the target directory), but how can I:

1) Get the Selenium version installed?
2) Ensure that Selenium 3 is installed?

[code]

[2021-08-11 21:19] soulgalore opened #45 "HAR export trigger slower in Firefox 90"
Hi @janodvarko something happend in Firefox 90 that makes the HAR export trigger slower. Before (Firefox 89 and earlier) the overhead using the extension was something like 0.5 s testing the Barack Obama page at Wikipedia. With Firefox 90 that increased to a couple of seconds. I created https://bugzilla.mozilla.org/show_bug.cgi?id=1720843#c15 for that (I've been struggling to find the root cause).

[2021-08-11 21:32] soulgalore commented on #45
Aha this seems to be fixed in FF 92 https://bugzilla.mozilla.org/show_bug.cgi?id=1712983

[2021-08-11 21:32] #45 closed, assigned to nobody

[2022-02-23 22:46] mizlan opened #46 "Unable to access `HAR` from another extension"
I want to use `HAR.triggerExport()` from another Firefox extension but it doesn't seem to be defined. Is this a problem with the order in which the scripts load? Once I open up the debug console, I can use HAR just fine.

[2022-02-24 08:50] janodvarko commented on #46
Yes, the DevTools Toolbox needs to be opened in order for this extension to work (i.e. the `HAR` object accessible)

Btw. you can use `--devtools` command line argument when launching Firefox to make sure that the Toolbox is opened automatically.

[2022-02-26 16:32] mizlan commented on #46
I'm not too sure what you mean. Here is what I experienced:

1. I load my unpacked extension
2. I go to a website of interest
3. My extension loads but fails to see the `HAR` object
4. I open up DevTools, my extension still doesn't work but I can access `HAR` from the console
5. If I go to about:debugging and reload my unpacked extension, my extension script re-runs in my website page but `HAR` is

[2022-02-28 11:02] janodvarko commented on #46
Can you please try the following:

1. Load http://softwareishard.com/test/harexporttrigger/
2. Open DevTools and Select the Network panel
3. Click on the `Text` button on the page
4. Click on the `getHar` button on the page
5. Check out the Console panel it should say `Done!` followed by the HAR log data

This works for me, does it work for you?

[2022-03-01 04:00] mizlan commented on #46
It works for me. In case I didn't make it clear, I *am* able to access the HAR log data when I open DevTools and use `HAR.triggerExport()` by typing it in the console. By the way, you may not have understood my original question. I am writing *another* extension, and inside that extension I want to use `getHar`. I am wondering if this is possible.

[2022-03-01 13:12] janodvarko commented on #46
Ah, sorry yes I misunderstood the original question. The `HAR` API are available only in DevTools scope, which is activated when DevTools Toolbox is opened.

You might checkout these places:
* https://github.com/firefox-devtools/har-export-trigger/blob/master/manifest.json#L6 (loaded when DevTools Toolbox is opened)
* https://github.com/firefox-devtools/har-export-trigger/blob/master/src/devtools.

[2022-03-01 16:27] mizlan commented on #46
This is very helpful, thank you! So the idea would be to take the relevant parts of the code in this extension and repurpose it for my needs?

[2022-03-01 16:30] janodvarko commented on #46
Yes, feel free to take/copy any piece of code from this extension.

Should we close this report?

[2022-03-01 16:33] #46 closed, assigned to nobody